{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>{{ user.getUsername() }}</h1>
    <p>Мои роли:
    {% for role in user.getRoles() %}
        {{ role }}
    {% endfor %}
    </p>
    Мой баланс: {{ user.getBalance }}
    <br>
    <a href="{{ path('app_profile_transactions') }}" class="btn btn-primary">
        К транзакциям
    </a>
{% endblock %}
