{% extends 'base.html.twig' %}

{% block title %}new_course/study_on {% endblock %}

{% block body %}
    <h1>Создание курса</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}">Назад</a>
{% endblock %}
