{% extends 'base.html.twig' %}

{% block title %}{{ lesson.course.name }}/new_lesson/study_on{% endblock %}

{% block body %}
    <h1>Создание урока</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_course_show',{'id': lesson.course.id}) }}">Назад</a>
{% endblock %}
